<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>signin</h1>
    <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas rerum dolore fuga inventore vero earum odit. Perspiciatis, doloremque consequatur. Quia optio totam iste ipsam iure quas voluptatum. Earum, vel!</b></p>

</body>
</html>